.scrollingText > p > div {
    background: linear-gradient(
        to right,
        rgb(255, 255, 255) 50%,
        rgb(29, 29, 29) 50%
    );
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    // margin-left: 50px;
    line-height: 1.2;
    /*   outline: 6px dotted teal; */
    font-size: 57.33px;
    font-kerning: none;
    /*    display: block-inline !important;  */
}