.circle {
    margin: 40px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    transition: all 500ms;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 100%
    );
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 220px 440px;

    &:hover {
        color: black;
        background-position: 0 -220px;
        transition: 0.4s;
    }

    &:hover .text {
        color: black;
        transition: 0.4s ease-in-out; 
    }
}

.text {
    color: white;
    font-size: 16px;
    font-weight: 400;
}
